@import "tailwindcss";

:root {
    --bar-height: 4px;
    --hamburger-gap: 4px;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /*  Typoghraphy */
    --ff-barlow: 'barlow', system-ui, sans-serif;
    --ff-barlowCond: 'barlowCondensed', system-ui, sans-serif;
    --ff-bellefair: 'bellefair', system-ui, sans-serif;
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: .875rem;
}

@font-face {
    font-family: 'bellefair';
    src: url('../fonts/Bellefair-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'barlow';
    src: url('../fonts/Barlow-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'barlowCondensed';
    src: url('../fonts/BarlowCondensed-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@theme {
    /* Colores */
    --color-blue-900: hsl(230, 35%, 7%);
    --color-blue-300: hsl(231, 77%, 90%);
    --color-grey-50: hsl(0, 0%, 97%);
    --color-offexplore: hsl(229, 14%, 16%);
    /* Breakpoints */
    --breakpoint-md: 47.875rem;

    /* Fuentes */
    --font-barlow: 'barlow', system-ui, sans-serif;
    --font-barlowCond: 'barlowCondensed', system-ui, sans-serif;
    --font-bellefair: 'bellefair', system-ui, sans-serif;
    --text-homeTilte: clamp(1rem, 0.2825rem + 3.0612vw, 1.75rem);
    --text-space: clamp(5rem, 1.1735rem + 16.3265vw, 9rem);
    --text-bxs: .938rem;
    --text-explore: clamp(1.125rem, 0.2879rem + 3.5714vw, 2rem);
    --text-destMobTab: clamp(3.5rem, 2.0614rem + 6.1381vw, 5rem);
    --text-destDesktop: 6rem;
    --text-destKm: 1.75rem;
    --text-pick: 1.25rem;
    --text-22: 5.5rem;
    --text-nbrs: 2rem;
    --text-crewName: clamp(1.5rem, 0.5909rem + 3.8788vw, 3.5rem);
    --text-crewSp: clamp(1.125rem, 0.7273rem + 1.697vw, 2rem);

    --tracking-aside: .144rem;

    /* SPACES */
    --h-11: .188rem;
    --spacing-clampMenu: clamp(1.5rem, 0.3636rem + 4.8485vw, 4rem);
    --spacing-clampMain: clamp(20.4375rem, -4.5306rem + 106.5306vw, 69.375rem);
    --spacing-clampExplore: clamp(9rem, 1.3469rem + 32.6531vw, 17rem);
    --spacing-clampRight: clamp(2.5rem, 0.7857rem + 4.2857vw, 4rem);
    --spacing-clampDestination: clamp(20.4375rem, -1.2017rem + 92.3274vw, 43rem);
    --spacing-clampMoon: clamp(12.6875rem, 1.8379rem + 46.2916vw, 24rem);
    --spacing-clampDestNav: clamp(20.4375rem, 9.3481rem + 47.3146vw, 32rem);
    --spacing-padMain: clamp(1.5rem, 0.5409rem + 4.0921vw, 2.5rem);
    --spacing-imgMoon: clamp(9.375rem, 0.3836rem + 38.3632vw, 18.75rem);
    --spacing-29: 7.125rem;
    --spacing-33: 8.25rem;
    --spacing-18: 4.5rem;
    --spacing-mainMobile: 42.25rem;
    --spacing-mainTablet: 37.875rem;
    --spacing-mainDesktop: 39.5rem;
    --spacing-addxl: 17.5rem;
    --spacing-exploreXs: 23.875rem;
    --spacing-exploreSm: 17rem;
    --spacing-menuH: clamp(2rem, 6vw, 5rem);
    --spacing-dotsXl: .938rem;
    --spacing-imgCrewH: clamp(21.25rem, 13.8771rem + 31.4578vw, 28.9375rem);
    --spacing-imgCreww: clamp(16.9375rem, 6.4476rem + 44.757vw, 27.875rem);
    --spacing-imgTecn: clamp(16.125rem, 10.1907rem + 25.3197vw, 22.3125rem);


}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

.bg__home {
    background-image: url('../images/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg__destination {
    background-image: url('../images/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg__crew {
    background-image: url('../images/crew/background-crew-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg__technology {
    background-image: url('../images/technology/background-technology-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 47.875em) {
    .bg__home {
        background-image: url('../images/home/background-home-tablet.jpg');
    }

    .bg__destination {
        background-image: url('../images/destination/background-destination-tablet.jpg');
    }

    .bg__crew {
        background-image: url('../images/crew/background-crew-tablet.jpg');
    }

    .bg__technology {
        background-image: url('../images/technology/background-technology-tablet.jpg');
    }

    .md__translate {
        translate: 0;
    }
}

@media (min-width: 80em) {
    .bg__home {
        background-image: url('../images/home/background-home-desktop.jpg');
    }

    .bg__destination {
        background-image: url('../images/destination/background-destination-desktop.jpg');
    }

    .bg__crew {
        background-image: url('../images/crew/background-crew-desktop.jpg');
    }

    .bg__technology {
        background-image: url('../images/technology/background-technology-desktop.jpg');
    }
}

@media (min-width: 1024px) {
    .px-menuH {
        padding-inline: 0;
    }
}

.line {
    transition: .5s ease-in-out;
    transform-origin: left;
}

.btn__label {
    z-index: 50;
}

/* .btn__label:focus-visible { */
/*     .line { */
/*         border: 1px solid #fff; */
/*         box-shadow: 0 0 0 1px #242a45; */
/*     } */
/* } */

.top {
    transform: rotate(45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
    background-color: #fff;
}

.middle {
    opacity: 0;
}

.bottom {
    transform: rotate(-45deg);
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
    background-color: #fff;
}

.menu__nav--open {
    @apply translate-0 w-64 h-dvh
}


.menu__bar {
    @apply w-full md:border-b-3 md:border-b-transparent hover:border-r-3 hover:border-white/30 md:w-fit md:h-full md:flex md:items-center md:justify-center md:hover:border-r-0 md:hover:border-b-3
}

.menu__bar--active {
    border-right: 3px;
    border-color: white;
}

@media (min-width: 47.875em) {
    .menu__bar--active {
        border-right: 0;
        border-bottom: 3px;
    }
}

.text__menu {
    @apply text-base text-blue-300 uppercase cursor-pointer
}

.text__number {
    @apply text-base font-bold mr-1
}

.item__moon {
    @apply w-fit h-8 flex items-start border-b-3 border-b-transparent hover:border-b-white/20
}

.text__moon {
    @apply text-base/[1] tracking-wider font-barlowCond text-blue-300 uppercase cursor-pointer
}

.active {
    border-bottom: 2px;
    border-color: white;
}

.item__dots {
    @apply h-fit;
}

.btn__dots {
    @apply w-2.5 aspect-square rounded-full bg-white/25 xl:w-dotsXl cursor-pointer;
}

.btn__dots[aria-selected="true"] {
    @apply bg-white;
}

.btn__dots:hover,
.btn__dots:focus {
    @apply bg-white/55 outline-1 outline-offset-3 outline-blue-300;
}

.btn__nbrs {
    @apply w-10 aspect-square border border-white/25 rounded-full text-lg font-bellefair md:w-14 md:text-2xl xl:w-20 xl:text-nbrs cursor-pointer;
}

.btn__nbrs[aria-selected="true"] {
    @apply bg-white text-blue-900;
}

.btn__nbrs:not([aria-selected="true"]):hover,
.btn__nbrs:not([aria-selected="true"]):focus {
    @apply border-white/55 text-white/55 cursor-pointer;
}

.ltr-spc-1 {
    letter-spacing: 4px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.ltr__spc-3 {
    letter-spacing: 2px;
}

.numbered__title {
    font-family: var(--ff-barlowCond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.title__page {
    @apply text-base text-white text-center tracking-[.15em] font-barlowCond uppercase md:text-pick md:text-start xl:h-fit xl:text-destKm xl:tracking-[4px];
}

.title__span {
    margin-inline-end: .5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / .25);
}

.title__main {
    @apply text-crewSp text-white/20 text-center font-bellefair uppercase xl:text-start;
}

.title__mainTwo {
    @apply text-crewName text-white text-center font-bellefair uppercase xl:text-start;
}

.title__paraghraph {
    @apply min-h-40 text-bxs/relaxed text-white font-barlow md:text-base xl:text-lg;
}

.transition__screen {
    @apply transition-all duration-300 ease-in-out;
}
