:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /*  Typoghraphy */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-900: 3.5rem;
    --fs-900: 2rem;
    --fs-900: 1.75rem;
    --fs-900: 1.125rem;
    --fs-900: 1rem;
    --fs-900: .875rem;
}





@media (prefers-reduce-motion: no-prefer) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important;
    }

}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* colors */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-accent {
    background-color: hsl(var(--clr-light));
}

.bg-light {
    background-color: hsl(var(--clr-white));
}


.text-dark {
    background-color: hsl(var(--clr-dark));
}

.text-accent {
    background-color: hsl(var(--clr-light));
}

.text-light {
    background-color: hsl(var(--clr-white));
}


.button__explore::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--clr-white) / .25);
    border-radius: 50%;
    opacity: 0;
    transition: opacity .5s ease, transform .5s ease-in-out;
}

.button:hover::after {
    opacity: 1;
    transform: scale(150%);
}
